In [1]:
import requests
from bs4 import BeautifulSoup


request = requests.get("http://dowellcomputer.com/main.jsp")

html = request.text
soup = BeautifulSoup(html,'html.parser')

links = soup.select("td>a")

for link in links:
    if link.has_attr("href"):
        if link.get("href").find("notice")!=-1:
            print(link.text)

자바 기초 프로그래밍 강좌를 완강했습니다.
컴잘알에 오신 것을 환영합니다.

In [3]:
import pandas as pd 
import numpy as np
data_frame = pd.read_csv("C:\\Users\\VETEC\\python\\한국전력 사업소별 전력 계약 및 사용 정보(2018년 4분기)_20190926.csv",encoding='CP949')

In [4]:
data_frame.head()

,No 및 소계,1차사업소,2차사업소,3차사업소,4차사업소,사용량,사용금액,사용량.1,사용금액.1,사용량.2,사용금액.2
0,1,한국전력,NaN,NaN,NaN,71888,7912030,0,0,13927.74,1753907
1,한국전력 소계,NaN,NaN,NaN,NaN,71888,7912030,0,0,13927.74,1753907
2,2,전력그리드본부,NaN,NaN,NaN,24404,4280350,0,0,0.00,0
3,전력그리드본부 소계,NaN,NaN,NaN,NaN,24404,4280350,0,0,0.00,0
4,3,인재개발원,NaN,NaN,NaN,472485,70486300,0,0,0.00,0

In [5]:
data_frame.head(self,n=20)

NameError: name 'self' is not defined

In [5]:
data_frame.head(n=20)

       No 및 소계    1차사업소   2차사업소 3차사업소 4차사업소      사용량       사용금액  사용량.1  사용금액.1     사용량.2   사용금액.2
0            1     한국전력     NaN   NaN   NaN    71888    7912030      0       0  13927.74  1753907
1      한국전력 소계      NaN     NaN   NaN   NaN    71888    7912030      0       0  13927.74  1753907
2            2  전력그리드본부     NaN   NaN   NaN    24404    4280350      0       0      0.00        0
3   전력그리드본부 소계      NaN     NaN   NaN   NaN    24404    4280350      0       0      0.00        0
4            3    인재개발원     NaN   NaN   NaN   472485   70486300      0       0      0.00        0
5     인재개발원 소계      NaN     NaN   NaN   NaN   472485   70486300      0       0      0.00        0
6            4   수안보연수원     NaN   NaN   NaN   226278   29430870      0       0      0.00        0
7    수안보연수원 소계      NaN     NaN   NaN   NaN   226278   29430870      0       0      0.00        0
8            5    전력연구원     NaN   NaN   NaN    27756    8307020      0       0      0.00        0
9            6    전력연구원   기획관리실   NaN   NaN  1823123  306437200      0       0      0.00        0
10    전력연구원 소계      NaN     NaN   NaN   NaN  1850879  314744220      0       0      0.00        0
11           7    경영지원처   장비관리부   NaN   NaN    28999    3881150      0       0      0.00        0
12           8    경영지원처   사옥관리부   NaN   NaN  6548392  789679280      0       0      0.00        0
13    경영지원처 소계      NaN     NaN   NaN   NaN  6577391  793560430      0       0      0.00        0
14           9    자재검사처     NaN   NaN   NaN   265627  126544290      0       0      0.00        0
15    자재검사처 소계      NaN     NaN   NaN   NaN   265627  126544290      0       0      0.00        0
16          10   경기북부본부     NaN   NaN   NaN   532485   62109320      0       0   1577.36   224430
17          11   경기북부본부  구리전력지사   NaN   NaN   115662   12057940      0       0      0.00        0
18          12   경기북부본부    양평지사   NaN   NaN   101743   14584360      0       0      0.00        0
19          13   경기북부본부    구리지사   NaN   NaN   136266   15128370      0       0   2232.36   293961

In [6]:
data_frame.index

RangeIndex(start=0, stop=320, step=1)

In [9]:
data_frame["사용금액"]

0         7912030
1         7912030
2         4280350
3         4280350
4        70486300
          ...
315      34791550
316      20796510
317       2812680
318      23609190
319    4594504580
Name: 사용금액, Length: 320, dtype: int64

In [6]:
data_frame['사용량'].hist()